// components
// ListingPage.js
// MakeOffer.js
@import 'queryMixins';

.listingPage {
  margin-top: 61px;

  .container {
    flex-direction: column;
  }
}

.listingMain {
  flex-direction: column;

  .listingImage {
    width: 100%;
  }
}

.listingImage {
  position: relative;

  p {
    border-radius: 0 15px 15px 0;
    background-color: #687F9E;
    color: white;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 0;
  }

  p:nth-child(3) {
    top: 50%;
  }

}

.listingInfo {
  h4 {
    padding-top: 10px;
  }

  sub {
    color: red;
  }
}


.listingImage {

  border: 1px solid #687F9E;
  border-radius: 10px;
  background-color: black;
  width: 100%;
  height: 250px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.otherListings {
  margin-top: 30px;

  h4 {
    margin-bottom: 15px;
  }

  h4:nth-child(3) {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.moreListingsUser {
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.listingFeedback {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, .08);
  //padding-top: 10px;
  img {
    width: 100%;
    border-radius: 15px;
  }

  textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    border-radius: 10px;
  }

  button {
    display: block;
    margin-left: auto;
    border-radius: 15px;
    border: none;
    background-color: #687F9E;
    color: white;
    padding: 10px;
    width: 30%;
  }
}


.listingUser {
  align-items: center;

  p {

    margin-left: auto;
  }
}

.listingAvatar {
  border-radius: 100%;
  border: 1px solid black;
  height: 35px;
  width: 35px;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;

  img {
    width: 100%;
  }
}

@include responsive($tablet-landscape) {
  .listingPage {
    .container {
      width: 95%;
      flex-direction: row;
    }

    .listingUser {
      border-bottom: 1px solid rgba(0, 0, 0, .08);

    }
  }
  .listingMain {
    flex-direction: column;
    width: 50%;
    padding-right: 10px;

    .listingImage {
      width: 100%;
    }

  }
  .listingImage {
    position: relative;

    p {
      border-radius: 0 15px 15px 0;
      background-color: #687F9E;
      color: white;
      padding: 10px;
      position: absolute;
      top: 30%;
      left: 0;
    }

    p:nth-child(3) {
      top: 50%;
    }

  }

  .listingInfo {
    h4 {
      padding-top: 10px;
    }
  }
  .listingFeedback {

    margin-top: 0;
    border: none;
    width: 50%;
  }
  .listingImage {

    border: 1px solid #687F9E;
    border-radius: 10px;
    background-color: black;
    width: 375px;
    height: 250px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
  .moreListingsUser {

    grid-template-columns: repeat(auto-fit, minmax(150px, .5fr));
    grid-gap: 10px;

    h4 {
      width: 100%;
    }


  }
  .itemListing {
    width: 100%;
  }

}

@include responsive($xl-desktop) {
  .listing {
    .container {
      max-width: 60%;
    }
  }
  .listingImage {
    width: 520px;
    height: 300px;
  }
}