@import "queryMixins";
@import "header";
//@import "dashboard";
@import "main";
//@import "listingPage";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a{
  color: inherit;
}

input:focus, select:focus{
  outline-color: green;
}
select option{
  border: none;
  box-shadow: none;

}
.container{
  max-width: 95%;
  margin: 0 auto;
}
.hidden{
  display: none;
}


.grid{
  display: grid;
}
.flex{
  display: flex;
}
.block{
  display: block;
}
@include responsive($tablet-landscape){
  .container{
    max-width: 95%;
    //max-width: 85%;
  }
}
@include responsive($large-desktop){
  .container{
    //max-width: 70%;
    max-width: 95%;
  }
}
@include responsive($xl-desktop){
.container{
  max-width: 75%;
  //max-width: 60%;
}
}