@import "queryMixins";
@import "header";
//@import "dashboard";
//@import "main";
//@import "listingPage";
//@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a{
  color: inherit;
}
.container{
  max-width: 75%;
  margin: 0 auto;
}
.hidden{
  display: none;
}


.grid{
  display: grid;
}
.flex{
  display: flex;
}
.block{
  display: block;
}
@include responsive($phone){
  .container{
    max-width: 95%;
  }
}
