@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
nav .overlay {
  background-color: #687F9E;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  position: absolute; }

nav {
  box-shadow: 2px 0px 11px gray; }

.navForm .container {
  padding-top: 10px;
  max-width: 95%;
  display: flex;
  flex-direction: row; }

.navForm input {
  height: 2em;
  border: none;
  border-radius: 7px;
  flex-direction: column; }

.navForm .logo {
  font-size: 20px;
  margin-right: 10px;
  color: #687F9E; }

.navForm .navSearchWrapper {
  position: relative;
  width: 80%; }
  .navForm .navSearchWrapper img {
    opacity: 40%;
    position: absolute;
    top: 3px;
    left: 10px;
    width: 20px; }

.navForm .navSearch {
  margin-bottom: 10px;
  width: 100%;
  background-color: #ECECEC;
  padding-left: 40px; }

.navForm .hamburgerWrapper {
  width: 10%;
  text-align: right; }

.navForm .topSearchMenu {
  text-align: left;
  padding-bottom: 10px; }

.navForm .bottomSearchMenu {
  display: none; }

.navForm .searchMenuTrue {
  flex-direction: column; }
  .navForm .searchMenuTrue .navSearchWrapper {
    width: 100%; }
  .navForm .searchMenuTrue .navLocationWrapper {
    width: 100%; }
    .navForm .searchMenuTrue .navLocationWrapper .navSearchLocation {
      width: 100%;
      padding-left: 40px;
      background-color: #ECECEC; }
  .navForm .searchMenuTrue .navLocationWrapper {
    position: relative;
    width: 100%; }
    .navForm .searchMenuTrue .navLocationWrapper img {
      opacity: 40%;
      position: absolute;
      top: 3px;
      left: 10px;
      width: 20px; }
  .navForm .searchMenuTrue .mobileSearchTop {
    display: flex;
    flex-direction: row;
    z-index: 1; }
  .navForm .searchMenuTrue .logo {
    text-align: left;
    color: white;
    padding-bottom: 5px; }
  .navForm .searchMenuTrue .closeImageWrapper {
    width: 5%;
    margin-left: auto; }
  .navForm .searchMenuTrue .closeImage {
    width: 24px; }
  .navForm .searchMenuTrue .searchMenuControls {
    padding-top: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    z-index: 1; }
    .navForm .searchMenuTrue .searchMenuControls button {
      font-size: 16px;
      color: inherit;
      border: none;
      background-color: rgba(255, 255, 255, 0); }
    .navForm .searchMenuTrue .searchMenuControls button:last-child {
      margin-left: auto; }
  .navForm .searchMenuTrue .searchMenuFilterOn {
    display: initial; }
  .navForm .searchMenuTrue .filterOptions {
    height: 0px;
    color: white;
    padding-top: 15px;
    z-index: 1; }
    .navForm .searchMenuTrue .filterOptions p {
      width: 50%;
      text-align: left; }
    .navForm .searchMenuTrue .filterOptions .price {
      display: flex; }
      .navForm .searchMenuTrue .filterOptions .price .priceInput {
        display: flex;
        width: 50%; }
        .navForm .searchMenuTrue .filterOptions .price .priceInput p {
          width: 20%;
          text-align: center; }
        .navForm .searchMenuTrue .filterOptions .price .priceInput input {
          width: 40%;
          border: none;
          border-radius: 0px;
          background-color: rgba(0, 0, 0, 0);
          border-bottom: 1px solid white;
          color: white; }
        .navForm .searchMenuTrue .filterOptions .price .priceInput input::placeholder {
          color: white;
          text-align: center;
          opacity: .5; }
    .navForm .searchMenuTrue .filterOptions .distance {
      display: flex;
      padding-top: 10px; }
    .navForm .searchMenuTrue .filterOptions .distanceInput {
      display: flex;
      justify-content: flex-end;
      width: 61%; }
      .navForm .searchMenuTrue .filterOptions .distanceInput p {
        text-align: right;
        width: 10%;
        margin-left: 10px; }
      .navForm .searchMenuTrue .filterOptions .distanceInput input {
        color: white;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        border-bottom: 1px solid white;
        border-radius: 0px; }
      .navForm .searchMenuTrue .filterOptions .distanceInput input::placeholder {
        color: white;
        opacity: .4; }
    .navForm .searchMenuTrue .filterOptions .sortBy {
      padding-top: 15px;
      display: flex; }
      .navForm .searchMenuTrue .filterOptions .sortBy p {
        width: 60%; }
      .navForm .searchMenuTrue .filterOptions .sortBy select {
        width: 40%; }
    .navForm .searchMenuTrue .filterOptions button {
      font-size: 16px;
      margin-top: 10px;
      display: block;
      color: inherit;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      margin-left: auto; }

nav {
  color: red; }

* {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box; }

.container {
  max-width: 75%;
  margin: 0 auto; }

.hidden {
  display: none; }

@media only screen and (max-width: 480px) {
  .container {
    max-width: 95%; } }
