header {
  position: relative; }

nav {
  box-shadow: 2px -5px 11px gray;
  padding-top: 10px;
  padding-bottom: 10px; }
  nav .grid {
    grid-template-columns: 1fr 8fr .5fr; }
  nav .hamburger {
    font-size: 30px;
    align-self: center;
    text-align: right; }
  nav .hamburger:hover {
    cursor: grab; }
  nav h3 {
    margin-right: 15px;
    align-self: center;
    color: #687F9E; }
  nav .navForm {
    width: 95%; }

.searchInput, .locationInput {
  position: relative;
  width: 100%; }
  .searchInput img, .locationInput img {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20px;
    opacity: 30%; }
  .searchInput input, .locationInput input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #ECECEC;
    padding-left: 40px; }

.searchMenu {
  color: white;
  position: absolute;
  top: 0;
  padding-top: 10px;
  background-color: #687F9E;
  height: 100vh;
  width: 100vw; }
  .searchMenu .grid {
    grid-template-columns: 1fr; }
  .searchMenu h3 {
    color: white; }
  .searchMenu .searchInput {
    margin-top: 10px;
    margin-bottom: 10px; }

.searchMenuControls {
  color: white;
  display: flex;
  margin-top: 10px; }
  .searchMenuControls button {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none; }
    .searchMenuControls button i {
      vertical-align: middle; }
  .searchMenuControls button:last-child {
    margin-left: auto; }

.searchMenuTop {
  display: flex;
  flex-direction: row; }
  .searchMenuTop i {
    margin-left: auto;
    width: 25px; }

.filterOptions {
  margin-top: 10px; }
  .filterOptions button {
    float: right;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 16px; }

.price label {
  width: 50%; }

.distanceInput, .priceInput, .sortBy, .category {
  padding-bottom: 10px; }

.distanceInput, .priceInput {
  width: 50%;
  margin-left: auto; }
  .distanceInput input, .priceInput input {
    width: 45%;
    text-align: center;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid white; }
  .distanceInput input::placeholder, .priceInput input::placeholder {
    color: white; }
  .distanceInput p, .priceInput p {
    width: 10%; }

.distanceInput input {
  margin-left: auto; }

.sortBy label, .category label {
  width: 85%; }

.sortInput {
  width: 50%;
  border: none;
  color: rgba(0, 0, 0, 0.5); }
  .sortInput select {
    margin-left: auto; }

.categoryInput {
  width: 50%;
  color: rgba(0, 0, 0, 0.5); }

.navMenuClosed {
  position: absolute;
  max-height: 0px;
  width: 100%;
  background-color: pink;
  visibility: hidden; }

.navMenuOpen {
  position: absolute;
  max-height: 200px;
  width: 100%;
  background-color: #687F9E;
  color: white;
  visibility: initial;
  transition: max-height 100ms; }
  .navMenuOpen ul {
    display: flex;
    flex-direction: column; }
  .navMenuOpen li {
    vertical-align: middle;
    padding: 5px 5px 5px 2.5%;
    height: 25%; }
  .navMenuOpen li:hover {
    background-color: #ECECEC;
    color: #687F9E; }
  .navMenuOpen li:first-child {
    padding-top: 5px; }

@media only screen and (min-width: 768px) {
  nav .grid {
    grid-template-columns: .8fr 7fr .5fr; }
  nav button {
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    background: #687F9E;
    padding: 5px;
    width: 10%; }
  nav ul {
    align-items: center;
    justify-content: space-around; }
    nav ul li:last-child {
      padding-left: 10px; }
  h3 {
    margin-right: 0;
    font-size: 25px; }
  a {
    color: #687F9E; }
  .searchInput {
    width: 50%;
    margin-right: 2px; }
    .searchInput input {
      border-radius: 5px 0 0 5px; }
  .locationInput {
    width: 50%; }
    .locationInput input {
      border-radius: 0;
      width: 70%; }
    .locationInput button {
      width: 30%;
      height: 100%; }
  nav .navForm {
    width: 100%; } }

@media only screen and (min-width: 1024px) {
  nav .grid {
    grid-template-columns: 1fr 7fr 2fr; }
  nav .loginSignup li {
    border: 1px solid #687F9E;
    border-radius: 5px;
    color: #687F9E;
    padding: 5px; }
    nav .loginSignup li:hover {
      color: white;
      background-color: #687F9E; }
  nav .loginSignup li > i {
    font-size: 20px;
    margin-right: 5px; }
  .searchInput {
    width: 50%; } }

* {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box; }

a {
  color: inherit; }

input:focus, select:focus {
  outline-color: green; }

select option {
  border: none;
  box-shadow: none; }

.container {
  max-width: 95%;
  margin: 0 auto; }

.hidden {
  display: none; }

.grid {
  display: grid; }

.flex {
  display: flex; }

.block {
  display: block; }

@media only screen and (min-width: 768px) {
  .container {
    max-width: 95%; } }

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 95%; } }

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 90%; } }
