@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 54px;
  background-color: white; }
  .header__nav {
    padding: 10px 0;
    box-shadow: 2px -5px 11px gray; }
  .header__nav-inner-container {
    display: grid;
    grid-template-columns: 1fr 8fr .5fr; }
  .header__logo {
    align-self: center;
    margin-right: 15px;
    color: #687F9E; }
  .header__nav-search-form {
    width: 95%; }
  .header__search-input-wrapper {
    position: relative;
    width: 100%; }
  .header__search-input {
    padding-left: 40px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #ECECEC; }
  .header__search-image {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20px;
    opacity: 30%; }
  .header__search-submit {
    display: none; }
  .header__location-input-wrapper {
    display: none; }
  .header__location-image {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20px;
    opacity: 30%; }
  .header__auth-navigation {
    display: none; }
  .header__hamburger {
    align-self: center;
    font-size: 30px;
    text-align: right; }
    .header__hamburger:hover {
      cursor: grab; }

@media only screen and (min-width: 768px) {
  .header__nav-inner-container {
    grid-template-columns: .8fr 7fr .5fr; }
  .header__logo {
    margin-right: 0;
    font-size: 25px; }
  .header__nav-search-form {
    width: 100%; }
  .header__search-input-wrapper {
    width: 50%;
    margin-right: 2px; }
  .header__search-input {
    border-radius: 5px 0 0 5px;
    height: 100%; }
  .header__search-image {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20px;
    opacity: 30%; }
  .header__search-submit {
    display: initial;
    padding: 5px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: #687F9E;
    width: 30%;
    height: 100%; }
  .header__location-input-wrapper {
    display: initial;
    position: relative;
    width: 50%; }
  .header__location-input {
    padding-left: 40px;
    border-radius: 0;
    width: 70%;
    height: 100%;
    background-color: #ECECEC;
    border: none; }
  .header__location-image {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20px;
    opacity: 30%; }
  .header__hamburger {
    align-self: center;
    font-size: 30px;
    text-align: right; }
    .header__hamburger:hover {
      cursor: grab; } }

@media only screen and (min-width: 1024px) {
  .header__nav-inner-container {
    display: grid;
    grid-template-columns: 1fr 7fr 2fr; }
    .header__nav-inner-container--authenticated {
      grid-template-columns: .8fr 4fr 4fr; }
  .header__search-input-wrapper {
    position: relative;
    width: 100%; }
  .header__search-input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #ECECEC; }
  .header__search-image {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20px;
    opacity: 30%; }
  .header__search-submit {
    height: 30px; }
  .header__location-input-wrapper {
    position: relative;
    display: flex;
    width: 100%; }
  .header__location-input {
    padding-left: 40px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #ECECEC; }
  .header__location-image {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20px;
    opacity: 30%; }
  .header__auth-navigation {
    display: flex; }
  .header__logged-out {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; }
  .header__logged-out-item {
    display: flex;
    padding: 5px;
    border: 1px solid #687F9E;
    border-radius: 5px;
    color: #687F9E; }
    .header__logged-out-item:hover {
      color: white;
      background-color: #687F9E; }
    .header__logged-out-item:last-child {
      padding-left: 10px; }
  .header__logged-out-icon {
    margin-right: 5px;
    font-size: 20px; }
  .header__logged-out-link {
    color: #687F9E; }
    .header__logged-out-link:hover {
      color: white; }
  .header__logged-in {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: auto;
    font-size: 12px; }
  .header__logged-in-item {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    border: none;
    background-color: white;
    color: #687F9E;
    padding: 0;
    transition: transform .2s; }
    .header__logged-in-item:hover {
      cursor: grab; }
    .header__logged-in-item:last-child {
      padding-left: 10px; }
  .header__logged-in-icon {
    opacity: .8;
    font-size: 16px; }
    .header__logged-in-icon:hover {
      opacity: 1;
      transform: scale(1.5); }
  .header__logged-in-avatar-wrapper {
    margin-left: auto;
    border-radius: 100%;
    border: 1px solid #687F9E;
    width: 30px;
    height: 30px;
    padding: 0;
    overflow: hidden; }
  .header__logged-in-avatar-image {
    object-fit: fill;
    width: 100%; } }

.header__search-menu {
  position: absolute;
  top: 0;
  z-index: 1;
  padding-top: 10px;
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: #687F9E; }

.header__search-menu-inner-container {
  display: grid;
  grid-template-columns: 1fr; }

.header__search-menu-header {
  display: flex;
  flex-direction: row; }

.header__search-menu-logo {
  color: white; }

.header__search-menu-close {
  margin-left: auto;
  width: 25px; }

.header__search-menu-search-wrapper {
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }

.header__search-menu-search-input {
  padding-left: 40px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #ECECEC; }

.header__search-menu-search-image {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  opacity: 30%; }

.header__search-menu-location-wrapper {
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; }

.header__search-menu-location-input {
  padding-left: 40px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #ECECEC; }

.header__search-menu-location-image {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  opacity: 30%; }

.header__search-menu-controls {
  display: flex;
  margin-top: 10px;
  color: white; }

.header__search-menu-filter-toggle {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px; }

.header__search-menu-no-filter-submit {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  margin-left: auto; }
  .header__search-menu-no-filter-submit--filter-true {
    display: none; }

.header__search-menu-filter-icon {
  vertical-align: middle; }

.header__search-menu-filter-options {
  margin-top: 10px; }

.header__search-menu-price-outer-wrapper {
  display: flex; }

.header__search-menu-price-inner-wrapper {
  display: flex;
  padding-bottom: 10px;
  width: 50%;
  margin-left: auto; }

.header__search-menu-price-label {
  width: 50%; }

.header__search-menu-price-input {
  width: 45%;
  color: white;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  text-align: center; }
  .header__search-menu-price-input::placeholder {
    color: white; }

.header__search-menu-distance-outer-wrapper {
  display: flex; }

.header__search-menu-distance-inner-wrapper {
  display: flex;
  padding-bottom: 10px;
  width: 50%;
  margin-left: auto; }

.header__search-menu-distance-input {
  width: 45%;
  color: white;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  text-align: center;
  margin-left: auto; }
  .header__search-menu-distance-input::placeholder {
    color: white; }

.header__search-menu-category-wrapper {
  display: flex;
  padding-bottom: 10px; }

.header__search-menu-category-label {
  width: 85%; }

.header__search-menu-category-input {
  width: 50%;
  color: rgba(0, 0, 0, 0.5); }

.header__search-menu-sort-wrapper {
  display: flex;
  padding-bottom: 10px; }

.header__search-menu-sort-label {
  width: 85%; }

.header__search-menu-sort-input {
  width: 50%;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  margin-left: auto; }

.header__search-menu-filter-submit {
  float: right;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 16px; }

@media only screen and (min-width: 768px) {
  .header__search-menu {
    display: none; } }

.main {
  width: 100%;
  margin-top: 54px; }

.content {
  width: 100%; }

.browse {
  position: relative;
  margin: 20px 0;
  color: #687F9E; }
  .browse .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
  .browse i {
    font-size: 16px; }

.categories {
  position: relative;
  padding-left: 10px; }
  .categories:hover {
    cursor: grab; }

.catMenuClosed {
  position: absolute;
  visibility: hidden;
  height: 0; }

.categoryMenu {
  position: absolute;
  top: 100%;
  z-index: 1;
  overflow: hidden;
  border-radius: 0 0px 15px 15px;
  border: 1px solid #687F9E;
  width: 200px;
  height: 230px;
  transition: height 100ms;
  background-color: white; }
  .categoryMenu ul {
    width: 100%; }
  .categoryMenu li {
    padding: 10px; }
  .categoryMenu li:hover {
    background-color: #687F9E;
    color: white; }

.listingsNear {
  margin-left: auto; }

.listings .grid {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px; }

.itemListing {
  position: relative;
  border-radius: 10px;
  flex-direction: column;
  min-height: 250px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #687F9E; }

.itemImage {
  min-height: 205px; }

.itemInfo {
  background-color: white;
  width: 100%; }
  .itemInfo p {
    font-size: 14px;
    padding: 5px;
    width: 100%;
    color: #687F9E; }

.listAnItem {
  position: sticky;
  background-color: white;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  width: 100%; }
  .listAnItem a {
    border-radius: 10px;
    padding: 5px;
    display: block;
    width: 100%;
    border: none;
    background-color: #687F9E;
    color: white; }

@media only screen and (min-width: 1024px) {
  .sidebar {
    padding: 10px;
    border-right: 1px solid black;
    overflow: hidden;
    color: #687F9E;
    margin-top: 20px;
    position: fixed;
    left: 2.5%;
    width: 18%;
    min-height: 50%; }
    .sidebar button {
      margin-top: 25px;
      padding: 5px;
      width: 50%;
      background-color: #687F9E;
      color: white;
      border: none;
      border-radius: 15px; }
  .content {
    margin-left: 20%;
    right: 0;
    width: 80%; }
  .browse .grid {
    grid-template-columns: .2fr .2fr .2fr .2fr 1fr; }
  .searchUpdate {
    flex-direction: column; }
    .searchUpdate h4 {
      margin: 10px 0; }
  .priceInputSB input, .distanceInputSB input {
    padding-left: 6px;
    width: 30%; } }

@media only screen and (min-width: 1440px) {
  .sidebar {
    left: 12.5%;
    width: 14%; } }

.listingPage {
  margin-top: 61px; }
  .listingPage .container {
    flex-direction: column; }

.listingMain {
  flex-direction: column; }
  .listingMain .listingImage {
    width: 100%; }

.listingImage {
  position: relative; }
  .listingImage p {
    border-radius: 0 15px 15px 0;
    background-color: #687F9E;
    color: white;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 0; }
  .listingImage p:nth-child(3) {
    top: 50%; }

.listingInfo h4 {
  padding-top: 10px; }

.listingInfo sub {
  color: red; }

.listingImage {
  border: 1px solid #687F9E;
  border-radius: 10px;
  background-color: black;
  width: 100%;
  height: 250px;
  overflow: hidden; }
  .listingImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .listingImage div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

.otherListings {
  margin-top: 30px; }
  .otherListings h4 {
    margin-bottom: 15px; }
  .otherListings h4:nth-child(3) {
    margin-top: 30px;
    margin-bottom: 15px; }

.moreListingsUser {
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px; }

.listingFeedback {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.08); }
  .listingFeedback img {
    width: 100%;
    border-radius: 15px; }
  .listingFeedback textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    border-radius: 10px; }
  .listingFeedback button {
    display: block;
    margin-left: auto;
    border-radius: 15px;
    border: none;
    background-color: #687F9E;
    color: white;
    padding: 10px;
    width: 30%; }

.listingUser {
  align-items: center; }
  .listingUser p {
    margin-left: auto; }

.listingAvatar {
  border-radius: 100%;
  border: 1px solid black;
  height: 35px;
  width: 35px;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px; }
  .listingAvatar img {
    width: 100%; }

@media only screen and (min-width: 768px) {
  .listingPage .container {
    width: 95%;
    flex-direction: row; }
  .listingPage .listingUser {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
  .listingMain {
    flex-direction: column;
    width: 50%;
    padding-right: 10px; }
    .listingMain .listingImage {
      width: 100%; }
  .listingImage {
    position: relative; }
    .listingImage p {
      border-radius: 0 15px 15px 0;
      background-color: #687F9E;
      color: white;
      padding: 10px;
      position: absolute;
      top: 30%;
      left: 0; }
    .listingImage p:nth-child(3) {
      top: 50%; }
  .listingInfo h4 {
    padding-top: 10px; }
  .listingFeedback {
    margin-top: 0;
    border: none;
    width: 50%; }
  .listingImage {
    border: 1px solid #687F9E;
    border-radius: 10px;
    background-color: black;
    width: 375px;
    height: 250px;
    overflow: hidden; }
    .listingImage img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .moreListingsUser {
    grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
    grid-gap: 10px; }
    .moreListingsUser h4 {
      width: 100%; }
  .itemListing {
    width: 100%; } }

@media only screen and (min-width: 1440px) {
  .listing .container {
    max-width: 60%; }
  .listingImage {
    width: 520px;
    height: 300px; } }

* {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  height: 54px; }

a {
  color: inherit; }

input:focus, select:focus {
  outline-color: green; }

select option {
  border: none;
  box-shadow: none; }

.container {
  max-width: 95%;
  margin: 0 auto; }

.hidden {
  display: none; }

.grid {
  display: grid; }

.flex {
  display: flex; }

.block {
  display: block; }

@media only screen and (min-width: 768px) {
  .container {
    max-width: 95%; } }

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 95%; } }

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 60%; } }
